<div class="container side">
  
  <div class="row">
    <div class="col-xs-3">
      <button [routerLink]="['/home', { outlets: {'questionBoard': ['questions']}}]" class="btn btn-primary" type="button">Cancel</button>
    </div>
    <div class="col-xs-9">
      <label class="board-head pull-right"><h1>Question</h1></label>
    </div>
  </div>
  
  <div>
    <form>
      <div class="form-group">
        <label for="questionTitle">Title</label>
        <input type="text" class="form-control" id="questionTitle" 
               placeholder="Input your question title"
               [(ngModel)]="newQuestion.subject"
               [ngModelOptions]="{standalone: true}" required>
      </div>

      <div class="form-group">
          <label for="questionBody">Body</label>
          <quill-editor id="questionBody"
                        [(ngModel)]="newQuestion.body" 
                        [ngModelOptions]="{standalone: true}"
                        [options]="editorConfig"
                        (blur)="onEditorBlured($event)"
                        (focus)="onEditorFocused($event)"
                        (ready)="onEditorCreated($event)"
                        (change)="onContentChanged($event)" required>
          </quill-editor>
      </div>

      <div class="form-group">
        <label for="questionAttachment">Attchment</label>
        <input type="file" id="questionAttachment">
        <p class="help-block">Upload the attachment to support your question.</p>
      </div>

      <div class="form-group">
        <label for="folderGroup">Folder</label>
        <div *ngFor="let folder of folders; let idx = index">
          <div class="radio">
            <label>
              <input type="radio" name="folderSelect" 
                     [value]="folder.id"
                     [checked]="idx === 0"
                     (change)="onSelectionChange(folder)"> {{folder.name}}
            </label>
          </div>         
        </div>

      </div>

      <button type="submit" class="btn btn-default" (click)="postQuestion()">Post Question</button>
    </form>
  </div> 

</div>
