<div class="container side">
  <div class="row">
    <div class="col-xs-3">
      <button [routerLink]="['/home', { outlets: {'questionBoard': ['questions']}}]" class="btn btn-primary" type="button">Cancel</button>
    </div>

    <div class="col-xs-9">
        <div class="input-group pull-right">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
        </div>
    </div>
  </div>
  
  <div>
    <h1>New Post</h1>

<quill-editor [(ngModel)]="editorContent"
                           [options]="editorConfig"
                           (blur)="onEditorBlured($event)"
                           (focus)="onEditorFocused($event)"
                           (ready)="onEditorCreated($event)"
                           (change)="onContentChanged($event)">
            </quill-editor>  
    </div> 
</div>