<!-- <div id="side-menu" class="sidemenu">
  <a class="closebtn" (click)="closeSideMenu()">&times;</a>
  <ul class="list-group">
    
    <li class="list-group-item">week1</li>
    <li class="list-group-item">week2</li>
    <li class="list-group-item">week3</li>
    <li class="list-group-item">week4</li>
    <li class="list-group-item">week5</li>
  </ul>  
</div>

<button type="button" class="btn btn-default" aria-label="Toggle Side Menu" (click)="openSideMenu()">
  <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
</button> -->

<!-- Container for sidebar(s) + page content -->

<ng-sidebar-container>

  <!-- A sidebar -->
  <ng-sidebar [(opened)]="_opened" [mode]="_mode">
    <div class="side">
      <a closeSidebar>Closes the sidebar</a>
      <p>Sidebar contents</p>

      <ul class="side-menu">
        <li class="side-menu-item"><a href="#">week1 demo demo</a></li>
        <li class="side-menu-item"><a href="#">week2 demo demo</a></li>
        <li class="side-menu-item"><a href="#">week3 demo demo</a></li>
        <li class="side-menu-item"><a href="#">week4 demo demo</a></li>
        <li class="side-menu-item"><a href="#">week5 demo demo</a></li>
      </ul>  
    </div>
  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content>
    <button type="button" class="btn" aria-label="Left Align" (click)="_toggleSidebar()">
      <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
    </button>
    <h1> Welcome to Bittiger</h1>
  </div>

</ng-sidebar-container>