<div class="container side">
  
  <div class="row">
    <div class="col-xs-2">
      <button [routerLink]="['/home', { outlets: {'questionBoard': ['questions']}}]" class="btn btn-primary" type="button">Back</button>
    </div>
    <div class="col-xs-2">
      <button [routerLink]="['/home', { outlets: {'questionBoard': ['new-question', questionId]}}]" class="btn btn-primary" type="button">Edit</button>
    </div>
    <div class="col-xs-8">
      <label class="board-head pull-right"><h1>Question</h1></label>
    </div>
  </div>
  
  <div *ngIf="question">
    <h1 class="question-title">{{question.subject}}</h1>
    <a href="#">Iris Li, 3 weeks ago </a><span class="label label-primary">Week {{question.folder}}</span>
    <div class="question-body" [innerHTML]="question.body"></div>
  </div>
</div>
