<div class="container side">
  <div class="row">
    <div class="col-xs-3">
      <button [routerLink]="['/home', { outlets: {'questionBoard': ['new-question']}}]" class="btn btn-primary" type="button">New Post</button>
    </div>

    <div class="col-xs-9">
        <div class="input-group pull-right">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
        </div>
    </div>
  </div>

  <div class="quesiton-list">
    <div class="question-folder" *ngFor="let folder of folders">
      <div class="question-list">
        <div class="panel panel-info">
          <div class="panel-heading">{{folder.name}}</div>
        </div>

        <div class="panel panel-default" *ngFor="let question of (questions | selectedQuestion: folder.questions)">
          <div class="panel-heading">{{question.subject}}</div>
          <div class="panel-body" [routerLink]="['/home', { outlets: {'questionBoard': ['questions', question.qid]}}]">{{question.body}}</div>
        </div>
      </div>
  </div>

</div>
