.side {
    padding: 10px 15px;
    max-width: 400px;
    min-height: 100vh;
    border-left: solid 1px #e2e2e2;
}

.side-menu {
    margin: 0;
    padding: 0;
}

.side-menu .side-menu-item {
    list-style-type: none;
}

.side-menu .side-menu-item a {
    font-size:14px;
}

.question-list {
    padding: 10px 0;
}